Deep linking broken by Twitter's URL shortener

The URL detection in Twitter's Mac app (at least) didn't consider the closing `]` at the end of a URL to be part of that URL. This broke highlighting in the shortened link.
I was able to work around this issue by appending extra, ignored characters:

- broken: http://encyclical.github.io/laudato-si/#p[pg-3],h[pg-3,3,5]
- workaround: http://encyclical.github.io/laudato-si/#p[pg-3],h[pg-3,3,5],x

cc: @donohoe

@donohoe: let me know if you want me to file upstream issues for any of these Emphasis-related nitpicks or if you'd rather not be CC'd here anymore. Thanks again for your work on a great tool!


This was a bug we picked up on but didn't do anything about at the time since (a) was Twitter specific, and (b) NYT used Bitly for short urls and those were just fine (and those worked fine with Twitter).

Still, its a nuisance.

I think the real solution is using an alternative to brackets ([]).

Worth reporting to Twitter?
https://support.twitter.com/forms/feature_report


It sounds like Bitly integration through an explicit Tweet button might be worth adding. Perhaps a very minimal way of presenting a Twitter icon in the corner etc when an anchor or highlighting is selected?


Filed a bug with Twitter, but then realized that brackets might not actually be allowed in HTTP URI fragments as defined by [RFC7230 section 2.7](https://tools.ietf.org/html/rfc7230#section-2.7) and [RFC3986 section 3.5](https://tools.ietf.org/html/rfc3986#section-3.5) and [3.3](https://tools.ietf.org/html/rfc3986#section-3.3). If I'm reading the BNF correctly, I think it's an issue with Emphasis.

I like the idea of having convenient sharing buttons that take highlighting into account. Separate issue?


Should be fixed if we implement https://github.com/encyclical/laudato-si/issues/3 with URL shortening
